.app {
  padding: 10px;
  text-align: center;
  margin: 1% auto;
}


form {
  width: 50%;
  margin: 0 auto;
  background-color: lightcyan;
  padding: 25px;

}
.form-control{
  margin: 10px 0px !important;
}

.content-div{
  background-color: lightcyan;
  width: 50%;
  margin: 10px auto;
  text-align: left;
  padding: 25px;
}

.form-input {
  margin: 10px 0px;
}

.form-input input, .form-input textarea {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: 1px solid lightgray;
  padding: .375rem .75rem;
  outline: none;
  
}

button {
  background-color: #007bff;
  color: #fff;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  outline: none;
}

.blog-post__display {
  border: 1px solid lightgrey;
  margin: 5px 0px;
  border-radius: 4px;
  padding: 10px;
}

.detailsContainer{
  background-color: lightcyan;
  width: 50%;
  margin: 4% auto;
  /* display: flex;
  flex-direction: column; */
  padding: 4%;
}
.detailsDiv{
  display: flex;
  flex-direction: row;
  margin: 1% auto;
  justify-content: left;
  align-items: center;
}
.detailsDiv h4{
  margin-left: 10px;
}